<div class="app-chart">
  <div class="app-chart--loaded card" *ngIf="chart" [ngSwitch]="chart.type">
    <ngx-charts-area-chart
       *ngSwitchCase="'area'"
       [scheme]="chart.colors"
       [results]="chart.data"
       [gradient]=true
       [autoScale]=true
       [animations]=true
       [xAxis]=true
       [yAxis]=true
       [showXAxisLabel]=true
       [showYAxisLabel]=true
       [xAxisLabel]="chart.label_x"
       [yAxisLabel]="chart.label_y">
     </ngx-charts-area-chart>
     <ngx-charts-line-chart
        *ngSwitchCase="'line'"
        [scheme]="chart.colors"
        [results]="chart.data"
        [autoScale]=true
        [animations]=true
        [xAxis]=true
        [yAxis]=true
        [showXAxisLabel]=true
        [showYAxisLabel]=true
        [xAxisLabel]="chart.label_x"
        [yAxisLabel]="chart.label_y">
      </ngx-charts-line-chart>
     <ngx-charts-bar-vertical
        *ngSwitchCase="'bar'"
        [scheme]="chart.colors"
        [results]="chart.data"
        [gradient]=true
        [animations]=true
        [xAxis]=true
        [yAxis]=true
        [showXAxisLabel]=true
        [showYAxisLabel]=true
        [xAxisLabel]="chart.label_x"
        [yAxisLabel]="chart.label_y">
      </ngx-charts-bar-vertical>
   </div>
   <app-loader *ngIf="!chart"></app-loader>
</div>
