$primary: #5aa750;
$secondary: #1f1f54;

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;

  .logo img {
    padding: 10px 30px;
    width: 90px;
  }

  nav ul {
    list-style-type: none;
    display: flex;
    color: $secondary;
    flex-direction: row;
    padding: 0;
    margin: 0;
    font-size: 100px;
    li {
      cursor: pointer;
      &.active { color: $primary; }
      margin: 0 20px 20px;
      text-shadow: -1px 1px 2px $secondary;
    }
  }
}
