<section class="app-footer">
  <div class="created-by">
  <span>Created on the </span>
    <img src="/assets/img/emojis/road.png" />
    <span> with </span>
    <img class="no-radius" src="/assets/img/emojis/love.png" />
    <span> by </span>
    <a href="https://www.github.com/gdpelican" target="_blank">
      <img src="/assets/img/emojis/james.png" />
    </a>
  </div>
  <div class="get-in-touch">
    <a href="mailto:james@take-five.in"><fa name="envelope"></fa></a>
    <a href="https://www.facebook.com/james.kiesel" target="_blank"><fa name="facebook"></fa></a>
    <a href="https://github.com/gdpelican" target="_blank"><fa name="github"></fa></a>
    <a href="https://twitter.com/gdpelican" target="_blank"><fa name="twitter"></fa></a>
  </div>
  <div class="copyright">
    <span>Copyright</span>
    <span class="copyright-symbol"> © </span>
    <span>{{year}} James Kiesel</span>
  </div>
</section>
