.page {
  width: 100vw;
  height: 100%;
}

.content {
  padding: 20px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: space-between;
}

.text-content {
  flex-basis: 50%;
  overflow: auto;
  padding-right: 50px;
}

.chart-content {
  flex-basis: 50%;
}
